@using WebBanHang.Models
@model IEnumerable<Menu>

<!-- ============================================== NAVBAR ============================================== -->
<div class="header-nav animate-dropdown">
    <div class="container">
        <div class="yamm navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="nav-bg-class">
                <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                    <div class="nav-outer">
                        <ul class="nav navbar-nav">
                        @foreach(Menu menu in Model)
                        {
                            <li class="dropdown">
                                <a href="@menu.Link">
                                    @menu.MenuName
                                    
                                    @if (!String.IsNullOrEmpty(menu.Label))
                                    {
                                        if (menu.Hot == true)
                                        {
                                            <span class="menu-label hot-menu hidden-xs">@menu.Label</span>
                                        }
                                        else
                                        {
                                            <span class="menu-label new-menu hidden-xs">@menu.Label</span>
                                        }
                                    }
                                    
                                </a>
                            </li>
                        }
                        </ul><!-- /.navbar-nav -->
                        <div class="clearfix"></div>
                    </div><!-- /.nav-outer -->
                </div><!-- /.navbar-collapse -->

            </div><!-- /.nav-bg-class -->
        </div><!-- /.navbar-default -->
    </div><!-- /.container-class -->
</div><!-- /.header-nav -->
<!-- ============================================== NAVBAR : END ============================================== -->
