<!-- ============================================== TOP MENU ============================================== -->
<div class="top-bar animate-dropdown">
    <div class="container">
        <div class="header-top-inner">
            <div class="cnt-account">
                <ul class="list-unstyled">
                    <li><a href="#"><i class="icon fa fa-user"></i>Tài khoản</a></li>
                    <li><a href="#"><i class="icon fa fa-sign-in"></i>Đăng nhập</a></li>
                    <li><a href="#"><i class="icon fa fa-sign-out"></i>Đăng ký</a></li>
                </ul>
            </div><!-- /.cnt-account -->
            <div class="clearfix"></div>
        </div><!-- /.header-top-inner -->
    </div><!-- /.container -->
</div><!-- /.header-top -->
<!-- ============================================== TOP MENU : END ============================================== -->

