
@{
    ViewBag.Title = "ShowGroupItem";
    @model IEnumerable<GroupProduct>
}

@foreach(var group in Model)
{
    if (group.Products.Count == 0) { continue; }
    <section class="section featured-product wow fadeInUp">
        <h3 class="section-title">@group.GroupName</h3>
        <div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
            <div class="item item-carousel">
                <div class="products">
                    @foreach (Product product in group.Products.Take(10))
                    {
                        <div class="product">
                            <div class="product-image">
                                <div class="image">
                                    <a href="detail.html"><img src="@Url.Content("~/Content/images/blank.gif")" data-echo="@Url.Content("~/Content/images/products/1.jpg")" alt=""></a>
                                </div><!-- /.image -->
                                <div class="tag sale"><span>-33%</span></div>
                            </div><!-- /.product-image -->


                            <div class="product-info text-left">
                                <h3 class="name"><a href="detail.html">@product.ProductName</a></h3>
                                <div class="rating rateit-small"></div>
                                <div class="description"></div>
                                <div class="product-price">
                                    <span class="price">
                                        $650.99
                                    </span>
                                    <span class="price-before-discount">$ 800</span>

                                </div><!-- /.product-price -->

                            </div><!-- /.product-info -->
                            <div class="cart clearfix animate-effect">
                                <div class="action">
                                    <ul class="list-unstyled">
                                        <li class="add-cart-button btn-group">
                                            <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                            <button class="btn btn-primary" type="button">Add to cart</button>

                                        </li>

                                        <li class="lnk wishlist">
                                            <a class="add-to-cart" href="detail.html" title="Wishlist">
                                                <i class="icon fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <li class="lnk">
                                            <a class="add-to-cart" href="detail.html" title="Compare">
                                                <i class="fa fa-retweet"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div><!-- /.action -->
                            </div><!-- /.cart -->
                        </div><!-- /.product -->
                    }
                </div><!-- /.products -->
            </div><!-- /.item -->
        </div><!-- /.home-owl-carousel -->
    </section><!-- /.section -->
}