<footer class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                2016 © Hitha.
            </div>
        </div>
    </div>
</footer>
